{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  S'inscrire - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>S'inscrire</h2>
	
  <p>Rejoigner la communaute pour partager vos cours !</p>
  
  {{ include("OCPlatformBundle:Advert:form.html.twig") }}


  <p>
 
  </p>

{% endblock %}